.content{
    padding: 30px 30px;
    height: 450px;
    min-height: 700px;
    max-height: 700px;
    overflow-y: scroll; 
    overflow-x: hidden; /* prevents bottom scrollbar */
    position: relative;
}

#content-grid {
  display: grid;                  /* turn it into a grid */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; /* space between cards */
                       
}

.card {
  padding: 16px;

  border-radius: 8px;
  height: auto;       /* fixed height for each card */
  box-sizing: border-box; /* makes padding included in height */
  overflow: hidden;    /* optional: hides overflow text/images */
 
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}




.img-div{
    width: 100%;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* this oen is a separate img design for set menu*/
.img{
    height: 120px;
    width: 120px;
}


/* this oen is a separate img design for menu item*/
.img-menu-item{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.txt-details-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;


    padding: 0px 10px;
    gap: 10px;


    font-family: var(--font-body);
    font-size: var(--font-sm);
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: left;
}


.txt-details-div h4{
}

.txt-details-div p{
    font-family: var(--font-body);
    font-size: var(--font-sxm);
    font-weight: 200;

}


.view-details-btn{
    width: 100%;
    letter-spacing: 1px;
    padding: 10px 15px;     /* same size for all */
    background-color: var(--button-color-3);

    font-family: var(--font-body);
    color: var(--text-color-3);
    font-size: var(--font-xsm);
    font-weight: 100;
    text-align: center;

    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 120px;           /* ✅ keeps width consistent even if text differs */

    gap: 5px;
    justify-content: center;
    border: solid 0.5px;
    
    margin-top: 10px;
}



#pager{
    height: auto;
    width: 100%;
    padding: 20px;

    color: var(--text-color-2);
    font-family: var(--font-body);
    font-size: var(--font-xxsm);
    font-weight: 100;


    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#pager button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#pager span{
    font-family: var(--font-body);
    font-size: var(--font-xxsm);
}



@media (max-width: 768px) {
    .content{
        margin: 0px;
        max-width: 300px;
        padding: 30px 30px;
    }


    .content-grid{
        max-width: 300px;
    }


    .card{
   
    }


    #pager{

    }

}