

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  letter-spacing: 1px;
}

html, body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: var(--background-color-2);
}

.reservation{
    background-color: var(--background-color-2);
    height: auto;
    margin-top: 50px;
}


/* (Step 1 modal) started...*/
.date-time-people{
    width: 100%;
    min-width: 300px;

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Each column gets its own height (don't stretch children)*/
    position: relative;
}

.date-time-people.show{
    display: flex;
}

.calendar-section{
    width: auto;
    overflow: hidden;
    padding: 50px;
    min-width: 450px;
}

.calendar{
    height: auto;
    width: 100%;
    min-width: 350px;
    max-width: 350px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}


.month-selector-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.year-month{
    min-width: 100px;
    text-align: center;
}

.weekdays{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.weekdays li{
    list-style: none;

}

.divider{
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background-color: var(--background-color-3);
}


.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    height: auto;
    width: 100%;
}

.days .day{
    color: white;
    padding: 10px;
    height: auto;
    text-align: center;
    font-size: var(--font-xsm);
    cursor: pointer;
}

.days .past-days{
    color: rgb(63, 65, 64);
    cursor: default;
}

.days .selected-day{
    background-color: var(--background-color-4);
    color: var(--background-color-2);
    border-radius: 50%;
    border: none;
}

.future-days:hover{
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
    color: var(--background-color-2);
}



.day.empty {
    background-color: transparent;
    border: none;
}

.font{
    font-size: var(--font-xsm);
    color: var(--text-color-3);
    font-family: var(--font-body);
}






.people-time-section{
    max-width: 700px;
    width: 100%;
    padding: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown-div{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown{
    flex: 1 1 275px;
    min-width: 275px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}




.dropdown-arrow{
    position: absolute;
    top: 5%;
    right: 0%;
    transform: rotate(0deg);
      transition: transform 0.5s ease; /* smooth effect */
}


.dropdown-arrow.rotate{
    transform: rotate(180deg);
}

.book-btn-div{
    width: 100%;
    max-width: 650px;
    min-width: 200px; 
}

.book-btn-div button{
    width: 100%;
    background-color: var(--button-color-3);
}


@media (max-width: 1120px) {
  .date-time-people {
    flex-direction: column;
    align-items: center;
  }

  .dropdown {
    flex: 1 1 560px;
  }
}



/*  dropdown options **/
.text-div{
    background-color: white;
    padding: 10px;
    position: relative; 
    cursor: pointer;
    color: var(--text-color-2);
}

.options{
    background-color: white;
    top: 110%;
    right: 0%;
    width: 100%;
    z-index: 10;
    position: absolute;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.options.open{
    overflow-y: auto;
    scrollbar-width: thin;    /* optional, for Firefox */
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    background-color: rgb(255, 255, 255);
    color: var(--text-color-2);
}


.options li{
    list-style: none;
    padding: 10px;
    font-size: 13px;
    color: var(--text-color-2);
}

.options li:hover{
    background-color: var(--background-color-8);
 
}



@media (max-width: 1115px) {

    .people-time-section{
        margin-top: 0px;
    }

    .reservation{
        margin-top: 120px;
    }


}




@media (max-width: 768px) {

    .reservation{
        margin-top: 20px;
    }

    .date-time-people{
        max-width: 350px;
        margin: 0 auto;
    }
}












