/** Reusable button **/

.reusable-btn{
    display: flex;
    width: auto;
    align-self: start;
    font-family: var(--font-body);
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 10px;         /* same size for all */
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;           /* ✅ keeps width consistent even if text differs */
    text-align: center;
    gap: 5px;
    justify-content: center;
    border: none;
    gap: 10px;
}




.spin-loader{
  border: 2px solid #f3f3f3;
  border-top: 2px solid #DBB741; /* or any color you want */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
  display: none;
}

.spin-loader.show{
    display: block;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

