          <header id="home" class="navbar">

              <div id="logo">
                <img class="logo-image" src="/img/logo.png">
                <div class="text-container">
                  <h1 class="title">Imperial Grand</h1>
                  <p class="subtitle">Cantonese Cuisine</p>
                </div>
              </div>

              <nav class="nav-links"> 
                    <ul>
                      <li><a href="/index.html#home"><span>HOME</span></a></li>
                       <li><a href="/index.html#our-story"><span>OUR STORY</span></a></li>
                       <li><a href="/pages/Menu/menu.html"><span>OUR MENU</span></a></li>
                       <li><a  onclick="window.open('https://www.google.com/maps/reserve/v/dine/c/RmLot_SHagU?source=pa&opi=89978449&hl=en-SG&gei=1u3GaKH9Ba2aseMPzr3S4Q4&sourceurl=https%3A%2F%2Fwww.google.com%2Fsearch%3Fgs_ssp%3DeJwNxkEKgCAQAEC6Bv1BiM7tZmL2hH6xsosIZmEG9fua07TdGEbEauyUzKuhWQd4NDKhkwW0sGVjV3jQOU8CLN7LvFi_9XE_pURKKhTKrIpcle6_VV0xBzqPIh-_yh1K%26q%3Dimperial%2Bgrand%2Brestaurant%2Bsingapore%26oq%3Dimperial%26gs_lcrp%3DEgZjaHJvbWUqEggDEC4YQxivARjHARiABBiKBTIGCAAQRRg8Mg4IARBFGCcYOxiABBiKBTIGCAIQRRg5MhIIAxAuGEMYrwEYxwEYgAQYigUyBggEEEUYPDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDMzMTlqMGoxqAIAsAIA%26sourceid%3Dchrome%26ie%3DUTF-8&ihs=3')"><span>BOOK A TABLE</span></a></li>
                       <li><a href="/pages/contact/contact-us.html"><span >CONTACT US</span></a></li>
                    </ul>
              </nav>

              <!-- <div id="auth-link">
                  <a href="pages/authentication/auth.html?authType=login"><button class="auth-btn" id="login-btn">Login</button></a>
                  <a href="pages/authentication/auth.html?authType=signup"><button class="auth-btn" id="signup-btn">Sign up</button></a>
              </div> -->

              <nav>
                 <div class="ham-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                 </div>
              </nav>

          </header>