          <header id="home" class="navbar">

              <div id="logo">
                <img class="logo-image" src="/img/logo.png">
                <div class="text-container">
                  <h1 class="title">Imperial Grand</h1>
                  <p class="subtitle">Cantonese Cuisine</p>
                </div>
              </div>

              <nav class="nav-links"> 
                    <ul>
                      <li><a href="/index.html#home"><span>HOME</span></a></li>
                       <li><a href="/index.html#our-story"><span>OUR STORY</span></a></li>
                       <li><a href="/pages/Menu/menu.html"><span>OUR MENU</span></a></li>
                       <li><a  onclick="window.open('https://www.google.com/maps/reserve/v/dine/c/RmLot_SHagU?source=pa&opi=89978449&hl=en-SG&gei=1u3GaKH9Ba2aseMPzr3S4Q4&sourceurl=https%3A%2F%2Fwww.google.com%2Fsearch%3Fgs_ssp%3DeJwNxkEKgCAQAEC6Bv1BiM7tZmL2hH6xsosIZmEG9fua07TdGEbEauyUzKuhWQd4NDKhkwW0sGVjV3jQOU8CLN7LvFi_9XE_pURKKhTKrIpcle6_VV0xBzqPIh-_yh1K%26q%3Dimperial%2Bgrand%2Brestaurant%2Bsingapore%26oq%3Dimperial%26gs_lcrp%3DEgZjaHJvbWUqEggDEC4YQxivARjHARiABBiKBTIGCAAQRRg8Mg4IARBFGCcYOxiABBiKBTIGCAIQRRg5MhIIAxAuGEMYrwEYxwEYgAQYigUyBggEEEUYPDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDMzMTlqMGoxqAIAsAIA%26sourceid%3Dchrome%26ie%3DUTF-8&ihs=3')"><span>BOOK A TABLE</span></a></li>
                       <li><a href="/pages/contact/contact-us.html"><span >CONTACT US</span></a></li>
                    </ul>
              </nav>

              <div class="auth-state-div">
                 <div class="auth-state-circle">

                    <div class="profile-menu">
                      <ul class="profile-menu-ul">
                        <!-- Dropdown list to be inserted in javascrip based on user auth state -->
                      </ul>
                    </div>

                 </div>

              </div>

              <!-- <div id="auth-link">
                  <a href="pages/authentication/auth.html?authType=login"><button class="auth-btn" id="login-btn">Login</button></a>
                  <a href="pages/authentication/auth.html?authType=signup"><button class="auth-btn" id="signup-btn">Sign up</button></a>
              </div> -->

              <nav>
                 <div class="ham-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                 </div>
              </nav>

          </header>




                              <!-- <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="style=fill"> <g id="profile"> <path id="vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M6.75 6.5C6.75 3.6005 9.1005 1.25 12 1.25C14.8995 1.25 17.25 3.6005 17.25 6.5C17.25 9.3995 14.8995 11.75 12 11.75C9.1005 11.75 6.75 9.3995 6.75 6.5Z" fill="#ffffff"></path> <path id="rec (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M4.25 18.5714C4.25 15.6325 6.63249 13.25 9.57143 13.25H14.4286C17.3675 13.25 19.75 15.6325 19.75 18.5714C19.75 20.8792 17.8792 22.75 15.5714 22.75H8.42857C6.12081 22.75 4.25 20.8792 4.25 18.5714Z" fill="#ffffff"></path> </g> </g> </g></svg> 
                     <p>MN</p> -->